* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


/* header */


/* .header .navbar
{
    position: fixed;
} */

.header .color {
    color: #00ccad;
}

.header .bg-header {
    background-color: white;
}

.header img {
    width: 85%;
}

.header .content {
    background-image: url(../img/slide2.jpg);
}

.header .content .text {
    color: white;
    padding: 250px 0;
    text-align: center;
}

.header .content .text h1 {
    font-size: 4rem;
    font-weight: bold;
}

.header .content .text div {
    font-size: 1.5rem;
}

.header .content .text .button a {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    background: #00ccad;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}


/* select */

.select {
    margin: 80px;
}


/* background */

.select {
    background-image: url(../img/bg.png);
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
}


/* col1 */

.select .Property {
    margin: 32px 0;
}

.select .input {
    padding: 47px 56px;
}

.select .input-header {
    padding: 10px 4px;
    width: 88%;
    margin: 6px 0;
}

.select .text {
    /* font-weight: bold; */
    color: #5a5a5a;
}


/* col2 */

.select .text img {
    width: 35px;
}

.select .text .from {
    margin: 20px 0;
}

.select .text .input-col2 {
    padding: 5px 58px;
}


/* col3 */

.select .text .listing-status {
    padding: 20px 0;
}

.btn-color {
    background-color: #00ccad;
}


/* content */

.tag {
    padding-right: 5px;
    color: #00ccad;
}

.content .card-text {
    color: #5a5a5a;
}

.content .text_title {
    text-align: center;
    margin: 40px 0;
}

.content .text_title h1 {
    font-weight: bold;
}

.content .item .if-sale {
    color: #5a5a5a;
    text-decoration: none;
}

.content .link-sale {
    text-decoration: none;
    color: #5a5a5a;
    font-weight: bold;
    font-size: 24px;
}


/* .content .sale .item .if-sale2 {
    margin: 20px;
} */


/* .content .item .if-sale2 .row .col {
    justify-content: space-around;
} */

.img-sale {
    width: 354px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.if-sale2 h3 {
    font-weight: bold;
    /* color: black; */
}

.if-sale {
    border: 1px solid;
    border-radius: 10px;
}

.text_title {
    text-align: center;
}

.if-sale2 {
    padding: 20px;
}


/* support */

.content .support {
    margin: 6% 0;
    padding: 5% 0;
    background-image: url(../img/bg2.jpg);
}

.support h3 {
    font-size: 24px;
}

.content .support .item {
    text-align: center;
}

.content .support .item .text {
    color: #fff;
}


/* video */

.bg-video {
    margin: 0 50px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../img/bg4.jpg);
}

.img-video {
    margin: 20px 0;
    width: 90px;
}

.bg-video {
    padding: 150px 0;
    text-align: center;
}

.video .text {
    font-weight: bold;
    margin: 25px 0;
    color: #fff;
}

.video .title {
    font-size: 35px;
    color: #fff;
}


/* popula place */

.popula {
    padding-bottom: 80px;
}

.popula-header {
    text-align: center;
    margin: 30px 0;
}

.popula-header .text {
    font-weight: bold;
}

.popula-img {
    width: 98%;
    border-radius: 10px;
}


/* FEATURED */

.featured {
    margin: 8% 0;
}

.featured-header {
    /* text-align: center; */
    margin: 30px 0;
}

.featured-header .text {
    font-weight: bold;
}

.featured .sale1 {
    margin: 30px 0;
}


/* know more */

.know {
    text-align: center;
    padding: 50px 0;
    background-color: #00ccad;
}

.know .text {
    font-size: 2.8rem;
    color: white;
}

.know .button {
    margin-top: 15px;
    margin-left: 24px;
    /* margin-bottom: 50px; */
    text-align: center;
    display: inline-block;
    background: #fff;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}


/* latest */

.latest {
    margin-top: 120px;
}

.latest .month {
    color: #00ccad;
}

.latest-header {
    text-align: center;
    margin: 30px 0;
}

.latest-header .text {
    font-weight: bold;
}


/* group */

.group {
    margin: 65px;
}


/* fotter */

.footter {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 100%;
    background-image: url(../img/fbg.jpg);
    /* background-size:contain; */
    /* background-position:bottom;
    background-repeat: no-repeat; */
}

.logo-footter {
    width: 250px;
    padding-bottom: 30px;
}

.footter .text {
    font-size: 15px;
    color: #bababa;
}

.footter .location {
    margin: 15px 0;
}

.footter .link {
    color: #bababa;
    text-decoration: none;
}

.tp {
    margin: 10px 0;
}

.footter .topic {
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.top {
    padding: 60px 0;
}

.img-fotter {
    width: 87px;
}

.up {
    padding: 3px 0;
}

.end {
    padding: 20px 0;
    border-top: 1px #5a5a5a solid;
}

@media only screen and (max-width: 390px) {
    .img-fotter {
        width: 120px;
    }
    .footer_gallery {
        margin-right: 5px;
    }
}

.col-4 {
    flex: 0 0 auto;
    width: 22.333333%;
}
